**/node_modules
**/package-lock.json
/storage/*.key
/vendor
.phpunit.result.cache
docker-compose.override.yml
/.idea
/public/js/*
public/css/*

vue-frontend/public

express-api/logs/server.log
express-api/server/config/.env.development
